
* { box-sizing: border-box;}

.ground {
  animation: forward 5s steps(1000000) infinite forwards;
}

.character {
  animation: move 0.5s steps(10) infinite forwards,
  slide-right 12s steps(2000) 1 forwards;
}

.loser{
animation: slide-left 3s steps(1000) 14s 1 forwards;
}

.comeback{
  animation: move 0.5s steps(10) 25s infinite forwards,
  naruto-run  6s steps(2000) 25s 1 forwards;
}

.character-2{
  animation: move 0.5s steps(10) 27s infinite forwards,
  naruto-run-2 6s steps(2000) 27s 1 forwards;
}

.tree{
animation:  tree-slide 200s steps(100000000) 1 forwards;
}
.tree2{
animation:  tree-slide 100s steps(10000000) 10s infinite forwards;
}
.tree3{
  animation: tree-slide 100s steps(1000000000) 1 forwards;
}
.tree4{
  animation: tree-slide 100s steps(100000000) 70s infinite forwards;
}

.cloud{
  animation: cloud-slide 50s steps(10000) 55s infinite forwards;
}

.cloud2{
  animation: cloud-slide 50s steps(10000) 30s infinite forwards;
}

.cloud3{
  animation: cloud-slide 50s steps(10000) 5s infinite forwards;
}

.lil-tree{
  animation: tree-slide 120s steps(100000000) infinite forwards;
}

.lil-tree2{
  animation: tree-slide 120s steps(100000000) 15s infinite forwards;
}

.lil-tree3{
  animation: tree-slide 120s steps(100000000) 40s infinite forwards;
}

.lil-tree4{
  animation: tree-slide 120s steps(100000000) 65s infinite forwards;
}

.lil-tree5{
  animation: tree-slide 120s steps(100000000) 90s infinite forwards;
}

.lil-tree6{
  animation: tree-slide 120s steps(100000000) 105s infinite forwards;
}

@keyframes forward {
  100% { background-position: -1680px 0px; }
}

@keyframes move {
  100% { background-position: -3632px 0px; }
}

@keyframes slide-right {
  100% { margin-left: 1200px; }
}

@keyframes slide-left {
  100% { margin-right: 1200px; }
}

@keyframes naruto-run {
  100% { margin-left: 60%; }
}

@keyframes naruto-run-2 {
  100% { margin-left: 30%; }
}

@keyframes tree-slide {
  100% { margin-right: 1200px; }
}

@keyframes cloud-slide {
  100% { margin-right: 1200px; }
}

.background {
	padding: 100px;
  width: 1200px;
  height: 768px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 17%;
  margin-top: 5%;
}

.ground {
  background-image: url("floor.png");
  width: 1680px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

  .character{
  background-image: url("ninja_run.png");
  position: absolute;
  bottom: 85px;
  left: 0;
  width: 363.2px;
  height: 460px;
  z-index: 3;
}

.loser{
  background-image: url("fall.png");
  position: absolute;
  bottom: 70px;
  right: 0;
  margin-right: -482px;
  width: 482px;
  height: 498px;
  z-index: 3;
}

.comeback{
background-image: url("ninja_run.png");
position: absolute;
bottom: 85px;
left: 0;
margin-left: -365.2px;
width: 363.2px;
height: 460px;
z-index: 3;
}

.character-2{
background-image: url("ninja_run2.png");
position: absolute;
bottom: 85px;
left: 0;
margin-left: -365.2px;
width: 363.2px;
height: 460px;
z-index: 3;
}

.tree{
  background-image: url("tree.png");
  position: absolute;
  bottom: 30px;
  right:  0;
  margin-right: -600px;
  width: 600px;
  height: 600px;
  z-index: 2;
}
.tree2{
  background-image: url("tree2.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -256px;
  width: 256px;
  height: 256px;
  z-index: 2;
}

.tree3{
  background-image: url("tree2.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: 650px;
  width: 256px;
  height: 256px;
  z-index: 2;
}

.tree4{
  background-image: url("tree2.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -256px;
  width: 256px;
  height: 256px;
  z-index: 2;
}

.sky{
  background-image: url("sky.png");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 768px;
  z-index: 1;
}

.cloud{
  background-image: url("real-cloud.png");
  position: absolute;
  bottom: 600px;
  right: 0;
  margin-right: -685px;
  width: 685px;
  height: 373px;
  z-index: 1;
}

.cloud2{
  background-image: url("real-cloud.png");
  position: absolute;
  bottom: 500px;
  right: 0;
  margin-right: -685px;
  width: 685px;
  height: 373px;
  z-index: 1;
}

.cloud3{
  background-image: url("real-cloud.png");
  position: absolute;
  bottom: 400px;
  right: 0;
  margin-right: -685px;
  width: 685px;
  height: 373px;
  z-index: 1;
}

.lil-tree{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.lil-tree2{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.lil-tree3{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.lil-tree4{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.lil-tree5{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.lil-tree6{
  background-image: url("tree3.png");
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-right: -120px;
  width: 120px;
  height: 120px;
  z-index: 1;
}
